/* css reset */
*{margin: 0px;
padding:0px;

}
body{

}

#navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 10px 10px;
    padding: 10px 10px;
    position: relative;

}

#logo img{
    transition-property:margin-left;
    transition-duration: 8s;
   
   

}
#logo img:hover{
   
    margin-left: 900px;
    
  
    

}
#logo img{
    height: 85px;
    width: 86px;
    margin: 11px 13px;
    padding: 3px 30px;
}

#navbar ul{
    display: flex;
    list-style: none;
    font-size: 30px;
    
    font-family: 'Modak', cursive;
}
#navbar::before{
    content: "";
    background-color: #000000a3;
    border-radius: 3px;
    opacity: 2.3;
    position: absolute;
    height: 12%;
    width: 100%;
    z-index: -1;
    
}
#navbar ul li a{
    text-decoration: none;
    padding: 15px 15px;
    margin: 15px 15px;
    display: block;
    margin-top: 39px;
    color: whitesmoke;
    
    
   
    
}
 .navitems li a:hover{
     background-color:rgba(0, 0, 0, 0.336);
    border: 2px solid azure;
    border-radius: 9px;
}
#home{height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 1.3rem;

}
#home::before{
    content: "";
    background: url(../css/img/1.jpg) no-repeat ;
    background-size: cover;
    position: absolute;
    height: 70%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: whitesmoke;
    text-align: center;
    font-family:  cursive;
}
.primaryheading{ 
    font-size: 3.8rem;
    padding: 12px;
    text-align: center;
    font-family:  ;

}
.btn{
    padding: 6px 20px;
    border: 2px solid whitesmoke;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-top: 30px;
    
    
    cursor: pointer;
}
#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border: 2px solid brown;
    display: flex;
    flex-direction: column;
}
#services .box img{
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 40px;
}
.services  .primaryheading{
    margin-top: 150px;
}
#services .box{
    height: 340px;
    width: 569px;
    margin: 23px 10px;
    padding: 17px 10px;
    border-radius: 25px;
    background-color: #615c5c2b;

}
.hsec{
    text-align: center;
    font-family: 'Timmana', sans-serif;
    
    
}
.services .box p{
    
    font-family: 'Libre Baskerville', serif;

}







/* client section */
#client-section{
    height: 344px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.client-item img{
    height: 100px;
    width: 100px;
    
    margin: -31px 2px;
}
.client-item{
    padding: 30px;
}
#client-section::before{
    content: "";
    position: absolute;
    background-image: url("../css/img/client.jpg");
    width: 100%;
    height: 265px;
    z-index: -1;
    opacity: 0.7;
    background-size: cover;
    border-radius: 2px;
}


/* contact section  */
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 34px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: -1;
    opacity: 0.9;
   background-image: url(../css/img/contact.jpg);
   background-size: cover;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 9px 20px;
}
#contact-box input,
#contact-box textarea{width: 100%;
    padding:0.5rem ;
    border-radius: 9px;

}
#contact-box form{
    width: 50%;
    


}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'cursive';


}


